<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--扫描包-->
    <context:component-scan base-package="com.offcn"></context:component-scan>

    <!--注解驱动-->
    <!--工厂注册-->
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>

    <!--静态不走流程-->
    <!--mapping是静态资源路径-->
    <!--location是静态资源名称-->
    <!--<mvc:resources mapping="/js/**" location="/js/"></mvc:resources>-->

    <!--<mvc:default-servlet-handler></mvc:default-servlet-handler>-->

    <!--拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.offcn.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--视图解析器-->
    <!--使用前缀和后缀实现视图路径片段的统一管理-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--前缀-->
        <property name="prefix" value="/WEB-INF/jsps/"></property>
        <!--后缀-->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--转换器工厂配置-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <!--把自定义转换器类加入到工厂中去-->
        <property name="converters">
            <set>
                <bean class="com.offcn.converter.DateConverter"></bean>
            </set>
        </property>
    </bean>

    <!--上传解析器-->
    <!--功能是实现上传界面字符串的切割，把有用的数据分离出来，送到指定的方法指定位置-->
    <!--id值是固定的-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--指定上传文件的大小的上限-->
        <!--单位是B  10MB-->
        <!--1MB=1024KB   1KB=1024B-->
        <property name="maxUploadSize" value="10485760"></property>
    </bean>

    <!--&lt;!&ndash;异常处理配置：异常处理对象&ndash;&gt;
    <bean id="mappingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        &lt;!&ndash;友好页面&ndash;&gt;
        <property name="defaultErrorView" value="error"></property>
     </bean>-->
</beans>